extras/parser/output
parser/output
*.d
*.i
*.s
*.o
*.swp
*~
*#
obj
Debug
ipch
*.pyc
*.sdf
*.user
*.suo
*.opensdf
*.tlog
*.obj
*.manifest
*.exp
*.lastbuildstate
*.lib
*.log
*.pdb
*.cache
*.stackdump
extras/gcs/python/build
extras/gcs/python/dist/*
extras/gcs/python/hackflight-gcs
extras/parser/build
extras/debug/linalg/debug
