parser/output
sim/libv_repExtHackflight.*
sim/sonar/getimu
common/tests/readserial
hello/*.o
hello/HelloHackflight
*.o
*.swp
*~
*#
obj
Debug
ipch
*.pyc
*.sdf
*.user
*.suo
*.opensdf
*.tlog
*.obj
*.manifest
*.exp
*.lastbuildstate
*.lib
*.log
*.pdb
*.cache
sim/*/*.so
sim/*/*.dylib
slam/*.so
slam/getimu
teensy/eagle/BrushedBoard/*.job
teensy/eagle/BrushedBoard/*.GBL
teensy/eagle/BrushedBoard/*.GBO
teensy/eagle/BrushedBoard/*.GBS
teensy/eagle/BrushedBoard/*.GML
teensy/eagle/BrushedBoard/*.GTL
teensy/eagle/BrushedBoard/*.GTO
teensy/eagle/BrushedBoard/*.GTP
teensy/eagle/BrushedBoard/*.GTS
teensy/eagle/BrushedBoard/*.TXT
teensy/eagle/BrushedBoard/*.dri
teensy/eagle/BrushedBoard/*.gpi
teensy/eagle/BrushedBoard/*.pro
teensy/eagle/BrushedBoard/*.s#*
teensy/eagle/BrushedBoard2/*.job
teensy/eagle/BrushedBoard2/*.GBL
teensy/eagle/BrushedBoard2/*.GBO
teensy/eagle/BrushedBoard2/*.GBS
teensy/eagle/BrushedBoard2/*.GML
teensy/eagle/BrushedBoard2/*.GTL
teensy/eagle/BrushedBoard2/*.GTO
teensy/eagle/BrushedBoard2/*.GTP
teensy/eagle/BrushedBoard2/*.GTS
teensy/eagle/BrushedBoard2/*.TXT
teensy/eagle/BrushedBoard2/*.dri
teensy/eagle/BrushedBoard2/*.gpi
teensy/eagle/BrushedBoard2/*.pro
teensy/eagle/BrushedBoard2/*.s#*
