DerivedDataCache/
Binaries/Win64/UE4*
Binaries/Win64/*.target
Intermediate/
Saved/
Source/FlightManager/
MulticopterSim.sln
*.csv
*.swp
*.VC.db
*.suo
*.opendb
.vs
.idea
.kdev4
.vscode
Extras/joytest/windows/Debug/
Extras/joytest/windows/Release/
Build/
WindowsNoEditor/
Extras/joytest/windows/x64/
*~
Content/Desert*
Content/StarterContent/HDRI/
Content/AdvancedGlassPack/
Content/Desert_Landscape/
Content/MarsLandscape/
Content/MulitcopterSim/Decals/
Content/MulticopterSim/Maps/Jezero*
Content/MulitcopterSim/Meshes/Target/Frame.uasset
Content/MulitcopterSim/Meshes/Target/Prop.uasset
Content/Realistic_Dynamic_SkySystem/
Content/UltraDynamicSky/
RDS_System.png
RDS_System_192.png

