 [Desktop Entry]
 Name=Hackflight
 Comment=Hackflight Visualizer
 Exec=__home__/Documents/Arduino/libraries/Hackflight/hfviz/linux.sh
 Icon=__home__/Documents/Arduino/libraries/Hackflight/media/icon.png
 Terminal=false
 Type=Application
 Categories=Utility;Application;Development;
